#application {

.nav-steps{
    border-bottom: 1px solid lightgray;
    margin-bottom : 50px;
}

.lg-font{font-size: 20px;}

.md-font{font-size: 16px;}

#personal, #academic, #documents{margin-bottom: 160px;}

.fa-caret-right-app{color: $btn-cta-color;}

.bfh-selectbox.open>.bfh-selectbox-options {margin-left: 15px;}

.center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.sm-cards{
    width: 100%;
    float: left;
}

.xs-cards {
    @extend .sm-cards;
    @include flex-row;
}

.s-card {
    text-align: center;
    cursor: pointer;
    margin: 10px 25px;
    padding: 0;
    background: $s-card-bg;
    color: $card-txt-color;
    @include userSelect;
    @include border-radius(3px);
    @include box-shadow(1px 1px 3px 0px);
    &:hover {
        background: $btn-cta-color;
        @include box-shadow(1px 1px 3px 0px);
        @include border-radius(3px);
        color: #fff;
    }

    input {
        position: absolute;
        display: none;
    }

    div {padding: 20px;}
}

input[type="radio"]:checked+div{         
        background: $btn-cta-color;
        @include box-shadow(1px 1px 3px 0px);
        @include border-radius(3px);
        color: #fff; 
    } 

.xs-card {
    @extend .s-card;
    width: 30%;
    margin: 0;
    padding: 0;
    flex-direction: row;
        p { margin: 0;
                span {
                font-size: 12px;
                color: rgba(128, 128, 128, 0.35);
                }
        }
    &:hover { span{color: #fff;}}
}

.letter-border {
    @include border-radius(7px);
    border: solid 1px #adadad;
    font-weight: bold;
    width: 25px;
    margin: 0 auto;
}

.selector::after{
    content: "";
    position: absolute;
    z-index: 1;
    height: 0;
    right: 30px;
    top: 26px;
    border-top: 10px solid #1f8ceb;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    cursor: pointer;
}

.select-lg {
    width: 100%;
    height: 60px;
    padding: 20px;
    @include appearance;
}

.hint{
    color: $hint-color;
    padding-left: 20px;
    @extend .s-text;
}

.next {
    width: 100%;
    float: left;
    display: flex;
    align-items: center;
}

.next button {
    margin: 10px 0 0 ;
}

.next p {margin: 10px 0 0;}

.input{display: flex;}

.input-box {
    padding: 0 0 10px 10px;
    border-radius: 0;
    border-width: 1px;
    border-style: none none solid none;
}

.input-box-margin {
    @extend .input-box;
    margin: 10px 0;
}

.select-sm {
    @extend .select-lg;
}

.input-md {
    margin-top: 20px;
    padding-bottom: 20px;
}

.input-md input{
    width: 100%; 
    padding: 20px;
}

.form-control{border-radius: 0;}

.form-control .caret {
    border-top: 10px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    color: #1f8ceb;    
}

.bfh-selectbox>a {
    padding: 20px 24px 40px 12px;    
    border-radius: 0;
}

/*Nav bottom*/
.nav-bottom{
    border-top: 1px solid lightgray;
    padding: 30px 0;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;    
}

.nav-bottom p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    display: flex;
    align-items: center;    
}

.percentage {color: #1f8ceb;}

.tc {color: gray;}

.nav-bottom div:first-child {
    display: flex;
    justify-content: space-between;    
}

.pn a {
    padding: 20px;
    color: #1f8ceb;
}

.pn .fa-angle-up, .pn .fa-angle-down {
    background-color: $btn-cta-color;
    color: #fff;
    padding: 10px 15px;
    border-radius: 2px;    
}

.modal-content {border-radius: 2px;}

.modal-body {padding: 15px;}

.modal-body button {
    position: absolute;
    top: 9px;
    right: 16px;
}

.modal-dialog {
    margin: 20% auto;
}

.modal-photo {
    width: 25%;
    padding: 20px;    
    float: left;
}

.modal-photo p:first-child {
    position: absolute;
    top: 70px;
    left: 57px;
    font-weight: bold;
}

.modal-photo p:last-child {
    position: absolute;
    top: 150px;
    left: 134px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-weight: bold;
}

.modal-body ul {
    width: 75%;
    display: inline-block;
    line-height: 2;
    font-weight: bold;    
}

/*-----------------------inteltel styel (phone extention input)---------------------------------------------------------*/
#phone{color: transparent;text-shadow: 0 0 0 white;}

.intl-tel-input .selected-flag .iti-arrow {
    margin-top: -5px;
    right: 10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 9px solid #1f8ceb;    
}

.iti-flag {
    box-shadow: none;
    background-color: transparent;
}

.intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag{width: 94px;}
/*------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------Progress bar--------------------*/
.fa-times{
    color: #999;
    -webkit-text-stroke: 5.5px #fff;
    font-size: 45px;
}

.nswr p {
    color: #999;
    font-weight: bold;
}

.nav-steps .nswr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    padding: 22px 0;    
}

.nav-steps .nswr p {margin-bottom: 0;}

.nav-steps .nswr ul {
    width: 75%;
    -webkit-padding-start: 0em;
    -webkit-margin-after: 0;

}
        
.nav-steps .nswr ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.progressbar{counter-reset: step;}

.progressbar li {
    list-style-type: none;
    float: left;
    width: 25%;
    position: relative;
    text-align: center;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 35px;
    border: 3px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #fff;
    font-size: 19px;
    font-weight: bold;
}

.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ddd;
    top: 19px;
    left: -50%;
    z-index: -1;
}

.progressbar li.active:after {background-color: #1f8ceb;}

.progressbar li:first-child:after {content: none;}   

.progressbar li.active:before {
    background-color: #f5f5f5;
    border-color: #1f8ceb;
}

.progressbar li.done>a {color: #1f8ceb !important;}

.progressbar li.done:after {background-color: #1f8ceb;}

.progressbar li.done:before {
    background-color: #1f8ceb;
    border-color: #8ec5f4;
    color: #fff;
}
/*--------------------------end of Progress bar-------------*/

/*------------------------------transition css-----------------*/
/** {box-sizing: border-box;}*/

.wrapper {
  margin: 0 auto;
  position: relative;
  /*padding: 10rem;*/
  overflow-y: auto;
}

.field {
  /*transform: scale(0.8);*/
  margin-bottom: 20rem;
  margin-top: 20rem;
  opacity: 0.2;
  transition: 0.5s ease all;
}

/*.field label {
  display: block;
}

.field input {
  
}*/

.field.active {
  opacity: 1;
  transform: scale(1);
}
/*------------------end of transition code--------------------*/ 

/*---------------- Mobile media query ----------------*/
@media(max-width:767px) {
    .s-card {
        margin: 10px;
        padding: 0;
    }

    .input-md {
        padding-bottom: 0;
    }

    .input-xs-padding {margin-top: 20px;}

    .xs-cards {
        @include flex-reset;
        img {width: 60px;}
        .xs-card {
            width: 45%;
            float: left;
            margin: 0 17px 20px 0;
        }
    }

    .form{padding: 0;}

    .percentage {font-size: 22px;}

    .modal-photo {width: 100%;}

    .modal-body ul {width: 100%;}

}

@media(min-width: 768px) {
    .modal-dialog {
        width: 715px;
    }
}

}