.btn {
	padding-top: 13px;
	padding-bottom: 13px;
	@include border-radius(1px);
	background: $btn-color;
	border: none;
	padding: 15px 50px;
	color: #fff;
}

.btn-cta {
	@extend .btn;
	background: $btn-cta-color;
	color: #fff;
}

.btn-gry {
	@extend .btn;
	background-color: #999;
	margin-top: 20px;
	float: right;
}