$bg: #f3f4f8;
$cta-bg: #1f8ceb;
$btn-color: #ddd;
$btn-cta-color: #1f8ceb;
$menu-txt-color: #94a4a6;
$hyperlink-color: #0d4f7b;
$primary-txt-color: #333;
$secondary-txt-color: #666;
$s-card-bg: #fafafa;
$card-txt-color: #666;
$hint-color: #999;

$sidebar-bg: #1f2532;
$sidebar-highlighted-bg: #34495e;
$logo-bg: #000;
$navbar-bg: #fff;
$search-bg: #f7f8fc;
$footer-bg: #f7f8fc;
$notification: #e74b3b;

$sidebar-ic: #fff;

$sidebar-tc: #94a4a6;
$sidebar-highlighted-tc: #fff; 

$divider-bc: #d8d8d8;
