@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin transition($time) {
    -webkit-transition: all $time ease;
       -moz-transition: all $time ease;
    	 -o-transition: all $time ease;
    	    transition: all $time ease;
}

@mixin template-icons( $size ) {
  background-size:$size;
  height:$size;
  width:$size;
}

@mixin equal-height-cols{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin userSelect {
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

@mixin appearance {
  appearance: none;  
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid gray;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

@mixin flex-reset {
    display: initial;
    flex-direction: initial;
    flex-wrap: initial;
    justify-content: initial;
}
