@import 'colors';
@import 'mixins';
@import 'sizes';
@import 'buttons';
@import 'application';
@import 'template';

h1{
    font-size: 24px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    font-weight: bold;
}

h3{
    font-size: 14px;
    font-weight: bold;
}

h4, p {font-size: 14px;}

.s-text {font-size: 12px;}

.xs-text {font-size: 11px;}

.flex {@include flex;}

label {font-weight: 100;}

.user-ico {
    display: block;
    width: 50px;
    height: 50px;
    @include border-radius(50%);
    background-image: url(https://image.flaticon.com/icons/svg/57/57134.svg); 
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    @include box-shadow(0px 0px 10px 0px); 
    border: 3px solid #fff;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

label > input[type="radio"]:checked {

}