#simple-popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100001;
}

.simple-popup-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%); /* Safari <= 8.1 :-( */
    -ms-transform: translate(-50%, -50%); /* Bloody IE9 */
    transform: translate(-50%, -50%);
    max-height: 80%;
    max-width: 100%;
    z-index: 100002;
    padding: 40px 30px;
    overflow: auto;
}

.simple-popup-content .close {
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 1;
}

.simple-popup-content .close::before {
    display: inline-block;
    text-align: center;
    content: "\00d7";
    font-size: 40px;
    color: lightgrey;
    width: 40px;
    line-height: 40px;
}

.simple-popup-content .close:hover {
    cursor: hand;
    cursor: pointer;
}

.simple-popup-content .close:hover::before {
    color: grey;
}

#simple-popup-backdrop,
.simple-popup-backdrop-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}

#simple-popup,
#simple-popup-backdrop,
#simple-popup.hide-it,
#simple-popup-backdrop.hide-it {
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -ms-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

#simple-popup.hide-it,
#simple-popup-backdrop.hide-it {
    opacity: 0;
}

#simple-popup,
#simple-popup-backdrop {
    opacity: 1;
}